<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="css/fresh-bootstrap-table.css" rel="stylesheet" />
    <link href="css/material-dashboard.css?v=1.2.0" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" type='text/css'//>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'/>
    <title>Quản trị hệ thống</title>
</head>

<body>
	<div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="img/sidebar.jpg">
      <div class="logo">
        <a href="Admin" class="simple-text"><%= admin.fullname %></a>
        <a href="Admin" class="simple-text" style="font-size: 12px">Adminstrator</a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active">
            <a href="Admin">
              <i class="material-icons">dashboard</i>
              <p>HOME</p>
            </a>
          </li>
          <li>
            <a href="Admin/Accounts">
              <i class="material-icons">person</i>
              <p>Quản lý tài khoản</p>
            </a>
          </li>
          <li>
            <a href="Admin/Articles"> 
              <i class="material-icons">content_paste</i>
              <p>Quản lý bài viết</p>
            </a>
          </li>
          <li>
            <a href="Admin/Comments"> 
              <i class="material-icons">library_books</i>
              <p>Quản lý bình luận</p>
            </a>
          </li>
          <li>
            <a href="Admin/Views">
                <i class="material-icons">bubble_chart</i>
                <p>Quản lý truy cập</p>
            </a>
          </li>
          <li>
            <a href="Admin/Notification"> 
              <i class="material-icons text-gray">notifications</i>
              <p>Thông báo <% if (total.notifies != 0) { -%>
                  <span class="label label-danger"><%= total.notifies %></span>
              <% } -%></p>
            </a>
          </li>
          <li class="active-pro">
            <a href="Admin/Writing"> 
              <i class="material-icons">unarchive</i>
              <p>Viết bài mới</p>
            </a>
          </li>
          <li>
            <a>
              <form action="Admin/logout" method="get">
                <i class="material-icons">logout</i>
                <button type="submit" class="btn btn-primary">Đăng xuất</button> 
              </form>
            </a>
          </li>
        </ul>
      </div>
    </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Quản trị hệ thống</a>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="green">
                                    <i class="material-icons">store</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Tài khoản</p>
                                    <h3 class="title"><a href="Admin/Accounts"><%= total.accounts %></a></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-danger">warning</i>
                                        <a href="Admin/Accounts"><%= total.newAccounts %> tài khoản mới</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="orange">
                                    <i class="material-icons">content_copy</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Bài viết</p>
                                    <h3 class="title"><a href="Admin/Articles"><%= total.articles %></a></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-danger">warning</i>
                                        <a href="Admin/Articles"><%= total.newArticles %> bài viết mới</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="red">
                                    <i class="material-icons">info_outline</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Bình luận</p>
                                    <h3 class="title"><a href="Admin/Comments"><%= total.comments %></a></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-danger">warning</i>
                                        <a href="Admin/Comments"><%= total.newComments %> bình luận mới</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="blue">
                                    <i class="fa fa-twitter"></i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Lượt truy cập</p>
                                    <h3 class="title"><a href="Admin/Views"><%= total.views %></a></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-danger">warning</i>
                                        <a href="Admin/Views"><%= total.newViews %> lượt mới truy cập</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                          <div class="fresh-table">
                              <div class="toolbar">
                                  <button class="btn btn-default" disabled="disabled">Danh sách tài khoản admin: <%= admins.length + 1 %></button>
                                  <% if (admin.id === 1) { -%>
                                    <a href="#formAddAdmin"><button class="btn btn-default" id="addAdmin">+ Thêm</button></a>
                                  <% } -%>
                                  
                              </div>
                              <table id="fresh-table" class="table">
                                  <thead>
                                    <tr>
                                        <th data-field="id" data-sortable="true">ID</th>
                                        <th data-field="name" data-sortable="true">Name</th>
                                        <th data-field="salary" data-sortable="true">Username</th>
                                        <th data-field="country" data-sortable="true">Number phone</th>
                                        <th data-field="city" data-sortable="true">Email</th>
                                        <th data-field="actions">Actions</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  <% for (admin of admins) { -%>
                                      <tr>
                                        <td><%= admin.id %></td>
                                        <td><%= admin.fullname %></td>
                                        <td><%= admin.username %></td>
                                        <td><%= admin.phone %></td>
                                        <td><%= admin.email %></td>
                                        <td>
                                            <% if (admin.id !== 1) { -%>
                                                <a href="admin/deleteAdmin?id=<%= admin.id %>"><input type='submit' class="btn btn-danger" value='Delete'/></a>
                                            <% } -%>
                                        </td>
                                      </tr>
                                  <% } -%>
                                  </tbody>
                              </table>
                          </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                        <!-- form thêm tài khoản admin -->
                        <!-- action="admin/addAdminAccount" method="post" -->
                            <form id="formAddAdmin" onsubmit="addAdmin(event)" hidden class="form-horizontal animate">
                                <legend> Thông tin tài khoản </legend>
                                <center id="notify"></center>
                                <div class="form-group" class='col-md-8 col-md-offset-2'>
                                    <label class="col-md-4 control-label">Tên đăng nhập</label>
                                    <div class="col-md-4  inputGroupContainer">
                                        <input name="username" placeholder="Enter username" class="form-control" type="text" required/>
                                    </div>
                                </div>
                            <div class="form-group" class='col-md-8 col-md-offset-2'>
                              <label class="col-md-4 control-label">Mật khẩu</label>
                              <div class="col-md-4  inputGroupContainer">
                                <input name="password" placeholder="Enter password" class="form-control" type="text" required/>
                              </div>
                            </div>
                            <div class="form-group" class='col-md-8 col-md-offset-2'>
                              <label class="col-md-4 control-label">Họ và Tên</label>
                              <div class="col-md-4  inputGroupContainer">
                                <input name="fullname" placeholder="Enter fullname" class="form-control" type="text" required/>
                              </div>
                            </div>
                            <div class="form-group" class='col-md-8 col-md-offset-2'>
                              <label class="col-md-4 control-label">Số điện thoại</label>
                              <div class="col-md-4  inputGroupContainer">
                                <input name="phone" placeholder="Enter numberphone" class="form-control" type="tel" minlength="10" maxlength="11" required/>
                              </div>
                            </div>
                            <div class="form-group" class='col-md-8 col-md-offset-2'>
                              <label class="col-md-4 control-label">Email</label>
                              <div class="col-md-4  inputGroupContainer">
                                <input name="email" placeholder="Enter email" class="form-control" type="email" required/>
                              </div>
                            </div>
                            <div class="form-group" class='col-md-8 col-md-offset-2'>
                              <label class="col-md-4 control-label"></label>
                              <div class="col-md-2 col-md-offset-1  inputGroupContainer">
                                <button type="submit" class="btn btn-success"> Thêm <span class="glyphicon glyphicon-send"></span>
                              </button>
                              </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <%include template/adminfooter %>
        </div>
    </div>
    <% include template/admin-script %>
    <script src="js/admin.js" type="text/javascript" charset="utf-8" async defer></script>
  
    <script type="text/javascript">
        $(document).ready(function(){
          $("#addAdmin").click(function(){
              $("#formAddAdmin").show();
          });
        });
    </script>
</body>

</html>
