<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="../img/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="../css/fresh-bootstrap-table.css" rel="stylesheet" />
    <link href="../css/material-dashboard.css?v=1.2.0" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" type='text/css'//>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'/>
    <title>Quản lý bình luận</title>
</head>

<body>
	<div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="img/sidebar.jpg">
      <div class="logo">
        <a href="Admin" class="simple-text"><%= admin.fullname %></a>
        <a href="Admin" class="simple-text" style="font-size: 12px">Adminstrator</a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/Admin">
              <i class="material-icons">dashboard</i>
              <p>HOME</p>
            </a>
          </li>
          <li>
            <a href="Accounts">
              <i class="material-icons">person</i>
              <p>Quản lý tài khoản</p>
            </a>
          </li>
          <li>
            <a href="Articles"> 
              <i class="material-icons">content_paste</i>
              <p>Quản lý bài viết</p>
            </a>
          </li>
          <li class="active">
            <a href="Comments"> 
              <i class="material-icons">library_books</i>
              <p>Quản lý bình luận</p>
            </a>
          </li>
          <li>
              <a href="Views">
                  <i class="material-icons">bubble_chart</i>
                  <p>Quản lý truy cập</p>
              </a>
          </li>
          <li>
            <a href="Notification"> 
              <i class="material-icons text-gray">notifications</i>
              <p>Thông báo <% if (noReadNotifies != 0) { -%>
                  <span class="label label-danger"><%= noReadNotifies %></span>
              <% } -%></p>
            </a>
          </li>
          <li>
            <a href="Writing"> 
              <i class="material-icons">unarchive</i>
              <p>Viết bài mới</p>
            </a>
          </li>
          <li>
            <a>
              <form action="Logout" method="get">
                <i class="material-icons">logout</i>
                <button type="submit" class="btn btn-primary">Đăng xuất</button> 
              </form>
            </a>
          </li>
        </ul>
      </div>
    </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Quản lý bình luận</a>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                          <div class="fresh-table">
                              <div class="toolbar">
                                  <button class="btn btn-default" disabled="disabled">Tất cả bình luận: <%= comments.length %></button>
                              </div>
                              <table id="fresh-table" class="table">
                                  <thead>
                                    <tr>
                                        <th data-field="id" data-sortable="true">ID</th>
                                        <th data-field="name" data-sortable="true">User</th>
                                        <th data-field="salary" data-sortable="true">Article</th>
                                        <th data-field="country" data-sortable="true">Content</th>
                                        <th data-field="city" data-sortable="true">Created</th>
                                        <th data-field="actions">Actions</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  <% for (comment of comments) { -%>
                                      <tr>
                                        <td><%= comment.id %></td>
                                        <td><%= comment.user_id %></td>
                                        <td><%= comment.article_id %></td>
                                        <td><%= comment.content %></td>
                                        <td><%= moment(comment.date).calendar() %></td>
                                        <td>
                                            <a href="deleteComment?id=<%= comment.id %>"><input type='submit' class="btn btn-danger" value='Delete'/></a>
                                        </td>
                                      </tr>
                                  <% } -%>
                                  </tbody>
                              </table>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <%include template/adminfooter %>
        </div>
    </div>
  
    <% include template/admin-script %>
</body>

</html>
