<div class="container mt-1">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/index"><small>Enews</small></a></li>
	    <li class="breadcrumb-item"><a href="/ban-1"><small><%= article.kindname %></small></a></li>
	    <li class="breadcrumb-item active" aria-current="page"><small><%= article.title %></small>
	    	<% if (num != null) { -%>
				<input type="hidden" name="article_id" value="<%=article.id%>">
	    		<% if (num == 0) { %>
	    			<i style="cursor: pointer" onclick="save(this)" data-save="0" class="badge badge-pill badge-dark">Lưu bài viết</i>
	    		<% } else { %>
	    			<i style="cursor: pointer" onclick="save(this)" data-save="1" class="badge badge-pill badge-dark">Đã lưu</i>
	    		<% } %>
	    	<% } -%>
	    </li>
	  </ol>
	  <hr width="65%" align="left" style="border-style: dashed; left: 0">
	</nav>
	<div class="row">
		<div class="col-md-8">
			<!-- article's content -->
			<h3><%= article.title%></h3>
			<center><img style="max-height: 500px" src="<%= article.imagelink%>" alt="<%= article.title%>" class="img-fluid"></center>
			<p>Ngày đăng: <i class="text-success" id="date"><%= moment(article.date).calendar()%></i></p>
			<div><%- article.content%></div>
			<hr>

			<!-- Comment's content around -->
			<% if (comments) { -%>
				<p id="commentArea" style="color: green; font-size: 16px; margin-top: 16px"><b>BÌNH LUẬN (<span id="numComment"><%= comments.length %></span>)</b></p>
				<% for (comment of comments) { -%>
					<div class="containerct">
					  	<p id="<%= comment.comment_id %>">
					  		<span style="color: orange;"><%= comment.fullname %></span>
					  		<i><%= moment(comment.date).calendar()%><%if (comment.edited == 1) {-%>
					  			<sub>Đã chỉnh sửa</sub>
					  		<%}-%></i>
							<%if (user) {-%>
								<% if (comment.user_id == user.id) { -%>
									<sup>
										<input type="hidden" name="comment_id" value="<%=comment.comment_id%>">
										<button class="btn btn-link" onclick="deleteComment(this)">Xóa</button> ||
										<button class="btn btn-link" onclick="editComment(this)">Chỉnh sửa</button>
									</sup>
								<%}-%>
							<%}-%>
					  	</p>
					  	<p style="padding: 0 20px">&emsp;&emsp;<%= comment.content %></p>
					</div>
				<% } -%>
			<% } else { -%>
				<p id="commentArea" style="color: green; font-size: 16px; margin-top: 16px"><b>BÌNH LUẬN (<span id="numComment">0</span>)</b></p>
			<% } -%>
			<!-- End Comment's content around -->

			<!-- Comment around -->
			<% if (user) { -%>
				<!--<form id="comment" action="/baiviet/binhluan/<= article.id %>" method="post">-->
				    <div class="form-group text-right">
						<input type="hidden" name="article_id" value="<%= article.id%>">
				    	<textarea class="form-control" name="commentContent" rows="4" placeholder="Nhập nội dung bình luận ..." maxlength="300"></textarea>
				    	<span>
				    		<input id="btnInsertComment" onClick="insertComment(this)" class="btn btn-success" style="margin: 10px 0" type="button" value="Đăng bình luận"/>
				    	</span>
				  	</div>
			<% } else { -%>
				<p style="margin-bottom: 16px">Hãy<a href="/dangnhap" class="btn btn-link"><i>đăng nhập</i></a>để bình luận cho bài viết này!! Hoặc<a href="/dangky" class="btn btn-link"><i>đăng ký</i></a>nếu chưa có tài khoản.</p>
			<% } -%>
			<!-- End comment around -->

			<!-- The same category -->
			<div class="alert alert-info" role="alert">
                <span class="alert-link">Mới nhất</span>
            </div>
			<% for (var i = 0; i < 2; i++) { -%>
				<div class="row">
					<div class="card-deck-wrapper">
						<div class="card-deck">
							<% for (var j = i*3; j < i*3+3; j++) { -%>
								<div class="card">
									<a href="baiviet/<%= newArticles[j].titleurl %>-<%= newArticles[j].id %>" title=""><img style="max-height: 200px" class="card-img-top img-fluid" src="<%= newArticles[j].imagelink %>" alt="<%= newArticles[j].title %>"></a>
									<div class="card-block mx-2">
										<a href="baiviet/<%= newArticles[j].titleurl %>-<%= newArticles[j].id %>" class="card-title"><%= newArticles[j].title.slice(0, 50) %></a>
										<p class="card-text"><small class="text-muted"><%= moment(newArticles[j].date).calendar() %></small></p>
									</div>
								</div>
							<% } -%>
						</div>
					</div>
				</div>
				<% if (i == 0) { %>
					<br>
				<% } %>

			<% } -%>
			<!-- End the same category -->
		</div>
		<div class="col-md-4">
			<h5 class="bg-warning mt-1 py-1 text-center">Cùng chuyên mục</h5>
			<% for (var info of similar) { -%>
				<div class="card mt-3 text-center hoverable">
	                <div class="card-body">
	                    <!--Grid row-->
	                    <div class="row">
	                        <!--Grid column-->
	                        <div class="col-md-4">
	                            <!--Featured image-->
	                            <div class="view overlay">
	                            	<a href="/baiviet/<%= info.titleurl%>-<%= info.id%>">
	                            		<img src="<%= info.imagelink%>" class="img-fluid" alt="<%= info.title%>">
	                            	</a>
	                            </div>
	                        </div>
	                        <!--Grid column-->

	                        <!--Grid column-->
	                        <div class="col-md-8 text-left">
	                            <!--Excerpt-->
	                            <a href="/theloai/<%= article.kindurl%>" class="green-text">
	                                <h6 class="font-bold pb-1"><i class="categoryIcon"></i> <%= article.kindname %></h6>
	                            </a>
	                            <h6 class="mb-2"><strong>
	                            	<a href="/baiviet/<%= info.titleurl%>-<%= info.id %>">
	                            		<%= info.title %>
		                            </a></strong>
		                        </h6>
	                            <span class="text-success"><i class="date2"><%= moment(info.date).calendar() %></i></span>
	                        </div>
	                        <!--Grid column-->
	                    </div>
	                    <!--Grid row-->
	                </div>
	            </div>
			<% } -%>
		</div>
	</div>
</div>

<script>
	const kinds = document.querySelectorAll('.kind');
	kinds[<%= article.kind %> - 1].classList.add('active');
</script>
