<style type="text/css" media="screen">
	.ck-editor__editable {
		min-height: 300px;
	}
</style>
<div class="container mt-3">
	<form class="form-horizontal" action="<%= action %>" method="post" enctype="multipart/form-data">
		<input type="hidden" id="url3" name="url3" required/>
		<% if (article) { %>
			<input type="hidden" name="id" value="<%= article.id %>" />
		<% } %>
		<center class="text-success"><%= notify %></center>
		<div class="form-group row col-sm-12">
			<label class="control-form-label col-sm-1">Tiêu đề:</label>
		    <div class="col-sm-9 col-xs-9">
		        <input type="text" name="title" class="form-control" value="<%= article.title %>" required/>
		    </div>
		</div>
		<div class="form-group row">
			<label class="control-form-label col-sm-1">Loại tin tức:</label>
		    <div class="col-sm-9 col-xs-9">
		    	<% if (article.kind_id) { %>
		    		<select class="form-control" name="kind" disabled>
			        	<option value="1"><%= article.kindname %></option>
					</select>
		    	<% } else { %>
		    		<select class="form-control" name="kind" required>
			        	<option value="0">Chọn loại tin tức...</option>
						<option value="1">Công nghệ</option>
						<option value="2">Bóng đá</option>
						<option value="3">Du lịch</option>
						<option value="4">Sức khoẻ</option>
					</select>
		    	<% } %>
		    </div>
		</div>
		<div class="form-group row">
			<label class="control-form-label col-sm-1">Hình ảnh:</label>
			<div class="col-sm-9 col-xs-9">
				<input type="file" name="file" accept="image/*" onchange="previewFile()" <% if (article.id) { %>
					disabled
				<% } else { %>
					required
				<% } %>
				/><br />
				<img src="<%= article.imagelink %>" height="200" alt="Hình ảnh xem trước ..." style="margin-bottom: 10px"/>
			</div>
		</div>
		<div class="form-group row">
			<label class="control-form-label col-sm-1">Nội dung:</label>
			<div class="col-sm-9 col-xs-9">
				<textarea name="content" id="editor" style="min-height: 400px"><%= article.content %></textarea>
			</div>
		</div>
		<div class="form-group row">
			<label class="control-form-label col-sm-1"></label>
			<div class="col-sm-9 col-xs-9">
				<center>
					<% if (article.id) { %>
						<button type="submit" class="btn btn-success">Cập nhật</button>
					<% } else { %>
						<i class="fas fa-clock"></i>
						<button type="submit" class="btn btn-success">Đăng bài <span class="glyphicon glyphicon-send"></button>
						<!-- <button target="_blank" type="button" class="btn btn-success" onclick="send()">Xem trước nội dung <i class="far fa-search"></i></button> -->
						<button type="reset" class="btn btn-success">Viết lại</button>
					<% } %>
				</center>
			</div>
		</div>
	</form>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>
	
<script type="text/javascript">
	ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
</script>
<script>
	function previewFile(){
	   var preview = document.querySelector('img'); //selects the query named img
	   var file    = document.querySelector('input[type=file]').files[0]; //sames as here
	   var reader  = new FileReader();
	   reader.onloadend = function () {
	       preview.src = reader.result;
	   }
	   if (file) {
	       reader.readAsDataURL(file); //reads the data as a URL
	   } else {
	   	//preview.src = "";
	   }
	}
	previewFile();  //calls the function named previewFile()
</script>