<div class="container">
	<div class="row">
		<div class="col-md-9">
			<% for (var i = 0; i < postses.similar.length; i++) { -%>
				<div class="card mt-3 text-center hoverable">
	                <div class="card-body">
	                    <!--Grid row-->
	                    <div class="row">
	                        <!--Grid column-->
	                        <div class="col-md-4 offset-md-1 mx-3 my-3">
	                            <!--Featured image-->
	                            <div class="view overlay">
	                            	<a href="/baiviet/<%= postses.similar[i].titleurl%>-<%= postses.similar[i]._id%>">
	                            		<img src="<%= postses.similar[i].imagelink%>" class="img-fluid" alt="<%= postses.similar[i].booktitle%>">
	                            	</a>
	                            	<h5 class="text-danger">
	                            		<% if (postses.similar[i].price == 0) { -%>
		                            		Miễn phí
		                            	<% } else { -%>
		                            		<%= (postses.similar[i].price/1000).toFixed(3).replace(/\d(?=(\d{3})+\.)/g, '$&.') %><sup>đ</sup>
		                            	<% } -%>
	                            	</h5>
	                            </div>
	                        </div>
	                        <!--Grid column-->

	                        <!--Grid column-->
	                        <div class="col-md-7 text-left ml-3 mt-3">
	                            <!--Excerpt-->
	                            <a href="" class="green-text">
	                                <h6 class="font-bold pb-1"><i class="fa fa-desktop"></i> <%= postses.name %></h6>
	                            </a>
	                            <h4 class="mb-4">Sách: <strong><a href="/baiviet/<%= postses.similar[i].titleurl%>-<%= postses.similar[i]._id %>">
	                            	<%= postses.similar[i].booktitle %></a></strong>
	                            </h4>
	                            <p>Đăng bởi: <a href="/thongtintaikhoan-<%= postses.similar[i].owner._id%>"><strong><%= postses.similar[i].owner.fullname %></strong></a> - <i class="text-success date4"><%= moment(postses.similar[i].date).calendar() %></i></p>
	                        </div>
	                        <!--Grid column-->
	                    </div>
	                    <!--Grid row-->
	                </div>
	            </div>
			<% } -%>
		</div>
		<div class="col-md-3 mt-3 border border-warning border-right-0 border-bottom-0">
			<h5 class="bg-warning mt-1 py-1 text-center">Nhu cầu</h5>
			<% for (var demand of postses.demand) { -%>
				<div class="card mt-3 text-center hoverable">
	                <div class="card-body">
	                    <!--Grid row-->
	                    <div class="row">
	                        <!--Grid column-->
	                        <div class="col-md-4">
	                            <!--Featured image-->
	                            <div class="view overlay">
	                            	<a href="/nhucau/<%= demand.titleurl%>-<%= demand._id%>">
	                            		<img src="<%= demand.imagelink%>" class="img-fluid" alt="<%= demand.booktitle%>">
	                            	</a>
	                            	<h6 class="text-danger" style="font-size: 12px">
	                            		Nhu cầu
	                            	</h6>
	                            </div>
	                        </div>
	                        <!--Grid column-->

	                        <!--Grid column-->
	                        <div class="col-md-8 text-left">
	                            <h6 class="mb-2" style="font-size: 14px">Sách: <strong>
	                            	<a href="/nhucau/<%= demand.titleurl%>-<%= demand._id %>">
	                            		<%= demand.booktitle %>
		                            </a></strong>
		                        </h6>
	                            <span class="text-success">
	                            	<i class="date2"><%= moment(demand.date).calendar()%></i>
	                            </span>
	                        </div>
	                        <!--Grid column-->
	                    </div>
	                    <!--Grid row-->
	                </div>
	            </div>
			<% } -%>
		</div>
	</div>
</div>